<html>
    <head>
        <style>
            h1{
                color: hotpink;
                background-color: aqua;
                font-size: large;
                font-variant: fa-li;
            }
        </style>
    </head>
  
    <body>
        {{> header}}
       <h2>sdasd</h2>
        <h1>Hello this is my index.hbs file inside my view folder .this is basically my express Template</h1>
   
    </body>
</html>