<html>
    <head>
        <style>
            h1{
                color: hotpink;
                background-color: aqua;
                font-size: large;
                font-variant: fa-li;
            }
        </style>
    </head>
    <body>
        <h1>Hello this is my index.hbs file inside my view folder .this is basically my express Template</h1>
    </body>
</html>